<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css')}}">
    <link rel="shortcut icon" type="image/jpg" href="/static/images/logo.png">

    <script
      src="https://kit.fontawesome.com/999ca2bb93.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #050560;">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse row" id="navbar">
          <div class="col-4">
            <a class="nav-item" href="/home">
              <img width="60px" height="55px" src="/static/images/logo.png">
            </a>
            <a class="nav-item nav-link text-header text-logo d-inline" href="/home">
              Worries Sharing
            </a>
          </div>
          <div class="navbar-nav col-8 justify-content-end">
            <a class="nav-item nav-link text-header active" href="/home">{{homepage}}</a>
            <a class="nav-item nav-link text-header" href="{{ url_for('views.home', language='en_NG') }}" >{{english}}</a>
            <a class="nav-item nav-link text-header" href="{{ url_for('views.home', language='ja_JP') }}">{{japanese}}</a>
            <a class="nav-item nav-link text-header" href="{{ url_for('views.home', language='vi_VN') }}">{{vietnamese}}</a>
            {% if user.is_authenticated %}
            <a class="nav-item nav-link text-header" href="/profile/{{user.username}}">{{profile}}</a>
            <a class="nav-item nav-link text-header" href="/logout">{{log_out}}</a>
            {% else %}
            <a class="nav-item nav-link text-header btn-landing" href="/login">{{login}}</a>
            <a class="nav-item nav-link text-header btn-landing" href="/sign-up">{{sign_up}}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    <div class="container">
      <div>
        {% block information_user %} {% endblock %}
      </div>
      <div>
        {% block search %} {% endblock %}
      </div>
      <div>
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <div class="m-5">
      <p class="text-center">@Copyright by shikanzen</p>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js')}}"
    ></script>
  </body>
</html>
