{% extends "base.html" %} {% block title %}Category{% endblock %}
{% block content %}
<div style="margin: 40px">
  <div class="text-center text-title">
    {{ list_category.title }}
  </div>
</div>
<div class="list-category">
  <div class="row">
    {% for i in list_category.categories %}
    <div class="col-lg-4 col-md-5 col-sm-12">
      <div class="card text-center" style="margin: 20px 0px;">
        <img src="{{ url_for('static', filename='images/') }}{{i.img}}.jpg" class="card-img-top" alt="..." height="300px">
        <div class="card-body">
          <a href="/home/{{i.title}}"  class="card-text text-category" style="font-size: 36px; cursor: pointer;">{{i.title}}</a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
{% endblock %}
