{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">{{category}}</h1>

<form method="POST">
  <label for="text-title" class="form-label">{{title}}</label>
  <input type="text" class="form-control" id="text-title" placeholder="title" name="title">
  <label>{{content}}</label>
  <textarea name="text" id="text" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-lg btn-primary">{{post}}</button>
  </div>
</form>
<br />
<div align="center">
  <a href="/home"
    ><button type="button" class="btn btn-lg btn-secondary">{{back}}</button></a
  >
</div>
{% endblock %}
