{% extends "base.html" %} 
{% block title %}Login{% endblock %} 
{% block content%}
<form method="POST">
  <h3 align="center">{{login}}</h3>
  <div class="form-group">
    <label for="email">{{mail_address}}</label>
    <input
      type="text"
      id="email"
      name="email"
      class="form-control"
      placeholder="Enter Email"
    />
    <label for="password">{{password1}}</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      placeholder="Enter Password"
    />
    <br />
    <div align="center">
      <button class="btn btn-primary" type="submit">{{login}}</button>
    </div>
  </div>
</form>
{% endblock %}
