{% extends "base.html" %} {% block title %}Home{% endblock %}

<div>
  {% block information_user %} {% endblock %}
</div>
<div>
{% block search %}
<div class="search-container mt-5">
  <form method="post" style="display: inline-flex">
    <input type="text" placeholder="{{placehoder_search}}" name="searchTitle" class="form-control rounded-0" value="{{searchTitle}}">
    <button type="submit" class="btn btn-primary btn-search rounded-0"><i class="fa fa-search"></i></button>
  </form>
</div>
{% endblock %}
</div>
{% block content %}
<!-- {% block profile %}
{% endblock %} -->
<h1 class="text-center text-sub-ategory mt-5">{% block header %}{{category}}{% endblock %}</h1>
{% if posts|length > 0 %}
{% block create_post %}
<div class="justify-content-end">
  <a href="/home/{{category}}/create-post">
    <button type="button" class="btn btn-lg text-center btn-bg text-white">
      <i class="fas fa-plus"></i> {{post}}
    </button>
  </a>
</div>
{% endblock %}
<div id="posts">
  {% for post in posts %}
  <div class="card border-dark">
    <div class="card-header d-flex justify-content-between align-items-center">
      <ul class="nav">
        <li class="nav-item">
          <a href="/profile/{{post.user.username}}">
            {% if user.avatar is none or user.avatar == ""  %}
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle" style="width: 50px; height: 50px; object-fit: cover;">
            {% else %}
              <img src="{{user.avatar}}" alt="avatar"
              class="rounded-circle" style="width: 50px; height: 50px; object-fit: cover;">
            {% endif %}
          </a>
        </li>
        <li class="nav-item">
          <a href="/profile/{{post.user.username}}" class="txt-username">{{post.user.username}}</a>
        </li>
      </ul>
      <div>
        <span id="likes-count-{{post.id}}">
          {{ post.likes|length }}</span>
        {% if user.id in post.likes|map(attribute="author")|list %}
        <i class="fas fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})"></i>
        {% else %}
        <i class="far fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})"></i>
        {% endif %}
        {% if user.id == post.author %}
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{category}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <textarea name="text" id="text-content" class="form-control">
                  {% autoescape false %}
                    {{ post.text | safe }}
                  {% endautoescape %}
                </textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{close}}</button>
                <button type="button" class="btn btn-primary">{{save_changes}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-bg text-white" data-bs-toggle="dropdown">
            <i class="fa-solid fa-ellipsis"></i>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="/home/{{post.category}}/delete-post/{{post.id}}" class="dropdown-item">{{delete}}</a>
            </li>
            <li>
              <a href="/home/{{post.category}}/update-post/{{post.id}}" class="dropdown-item">{{update}}</a>
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="card-body">
      <h2 class="text-center my-4" style="font-weight:700">{{post.title}}</h2>
      <div class="card-text" style="font-size: 24px; padding: 0 10px;">
        {% autoescape false %}
        {{ post.text | safe }}
        {% endautoescape %}
      </div>
      <br />
      <div class="collapse" id="comments-{{post.id}}">
        <div class="card">
          <div class="card-body" id="comments-expanded-{{post.id}}">
            {% for comment in post.comments %}
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <ul class="nav">
                  <li class="nav-item">
                    <a href="/profile/{{post.user.username}}">
                      {% if user.avatar is none or user.avatar == ""  %}
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                        class="rounded-circle" style="width: 35px; height: 35px; object-fit: cover;">
                      {% else %}
                        <img src="{{user.avatar}}" alt="avatar"
                        class="rounded-circle" style="width: 50px; height: 50px; object-fit: cover;">
                      {% endif %}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/profile/{{post.user.username}}" class="txt-comment">{{post.user.username}}</a>
                  </li>
                  <li class="nav-item" style="font-size: 20px;">
                    <a>: {{comment.text}}</a>
                  </li>
                </ul>

              </div>
              <div class="d-flex">
                <div class="text-muted me-2 align-items-center"> {{comment.date_created}}</div>
                {% if user.id == comment.author or user.id == post.author %}
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-bg text-white"
                    data-bs-toggle="dropdown">
                    <i class="fa-solid fa-wrench"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="/home/{{post.category}}/delete-comment/{{comment.id}}" class="dropdown-item">{{delete}}</a>
                    </li>
                  </ul>
                </div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <p class="card-text">
        {% if post.comments|length > 0 %}
        <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button" class="txt-comment">
          <div>{{post.comments|length}} {{comments}}</div >
        </a>
        {% else %}
        <div>{{no_comments}}</div >
        {% endif %}
      </p>
      <form class="input-group mb-3" method="POST" action="/home/{{post.category}}/create-comment/{{post.id}}">
        <input type="text" id="text" name="text" class="form-control" placeholder="{{comment_something}}" />
        <button type="submit" class="btn btn-bg text-white">{{comments}}</button>
      </form>
    </div>
    <div class="card-footer text-muted">{{post.date_created}}</div>
  </div>
  <br /> {% endfor %}
</div>
{% else %}
  <div class="text-center text-no-post">{{no_post}}</div>
  {% block footer %}
    <div class="text-center m-5">
      <a href="/home/{{category}}/create-post">
        <button type="button" class="btn btn-primary btn-lg text-center">
          <i class="fas fa-plus"></i> {{post}}
        </button>
      </a>
    </div>
  {% endblock %}
{% endif %}
{% endblock %}
