{% extends 'posts.html' %}
<!-- {% block title %}{{username}}'s Posts{% endblock
%}  -->
{% block information_user %}
<div align="center">


  

  
  <!-- <a href="/home"
    ><button type="button" class="btn btn-primary btn-lg">Back</button></a
  > -->

  <section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item active" aria-current="page">{{self_introduction}}</li>
            </ol>
          </nav>
        </div>
      </div>
      <div>
       {% if user.username == user_post.username %}
        <a href="/update-profile/{{current_user.username}}">{{update_profile}}</a>
       {% endif %}
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              {% if user.avatar is none or user.avatar == ""  %}
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;">
              {% else %}
              <img src="{{user.avatar}}" alt="avatar"
              class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;">
              {% endif %}
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              {% if categories|length >0 %}
                <h5 class="my-3">コンテンツ</h5>
              {% endif %}
              {% for item in categories %}
              <p class="text-muted mb-4">{{item}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">{{user_name}}</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user_post.username}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">{{mail_address}}</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user_post.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">{{age}}</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user_post.age}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">{{sex}}</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user_post.gender}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">{{country}}</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user_post.country}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
{% block search %}
{% endblock %}
{% block footer %}
{% endblock %}
