{% extends "base.html" %}
{% block content %}
<form method=post class=add-post>
  <h1>{{category}}</div>
  <div class="form-group">
    <label for="update-title" class="form-label">{{title}}</label>
    <input type="text" class="form-control" id="update-title" placeholder="title" name="title" value="{{post.title}}">
    <label for="InputText">{{post_content}} </label>
    <textarea class="form-control" id="InputText" name=text rows="3">{{ post.text | safe }}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">{{update_profile}}</button>
</form>
{% endblock %}
